@model List<ZreperujTo.Web.Models.FailModels.FailMetaModel>

<div class="table-responsive table-hover">
    <table class="table">
        <tbody>
            @foreach (var fail in Model)
            {
                <tr>
                    @if (fail.Pictures == null || !fail.Pictures.Any())
                    {
                        <td width="168" height="300"></td>
                    }
                    else
                    {
                        <td width="168" height=""><img src="@fail.Pictures[0].ThumbnailFileUri" class="img-responsive"/></td>
                    }
                </tr>
            }
        <tr>
            <td>Jan</td>
            <td>Jan</td>
            <td>Jan</td>
        </tr>
        <tr>
            <td>Jan</td>
            <td>Jan</td>
            <td>Jan</td>
        </tr>
        </tbody>
    </table>
</div>


<table width="100%" cellspacing="0" cellpadding="0" class="fixed offers breakword  offers--promoted" summary="">
    <tbody>
        <tr>
            <td class="offer ">
                <table width="100%" cellspacing="0" cellpadding="0" class="fixed breakword  ad_idgEJoW" summary="Ogłoszenie" data-id="246129021">
                    <tbody>
                        <tr>
                            <td width="168" rowspan="2">
                                <a class="thumb vtop inlblk rel tdnone linkWithHash scale4 detailsLink "
                                   href="https://www.olx.pl/oferta/vw-golf-6-gti-2-0-tsi-210km-bi-xenon-navi-dcc-zawieszenie-serwis-CID5-IDgEJoW.html#6256e9ac30" title="">
                                    <img class="fleft" src="https://olx-ring02.akamaized.net/images_tablicapl/407586337_3_261x203_vw-golf-6-gti-20-tsi-210km-bi-xenon-navi-dcc-zawieszenie-serwis-volkswagen_rev008.jpg" alt="VW GOLF 6 GTI 2.0 TSI 210KM, Bi- Xenon, Navi, DCC zawieszenie, Serwis">



                                </a>
                            </td>
                            <td valign="top">
                                <div class="space rel">
                                    <h3 class="x-large lheight20 margintop5">

                                        <a href="https://www.olx.pl/oferta/vw-golf-6-gti-2-0-tsi-210km-bi-xenon-navi-dcc-zawieszenie-serwis-CID5-IDgEJoW.html#6256e9ac30" class="marginright5 link linkWithHash detailsLink">
                                            <strong>VW GOLF 6 GTI 2.0 TSI 210KM, Bi- Xenon, Navi, DCC zawieszenie, Serwis</strong>
                                        </a>
                                    </h3>
                                    <p class="color-9 lheight16 margintop5">
                                        <small class="breadcrumb x-normal">
                                            Samochody osobowe » Volkswagen
                                        </small>
                                    </p>
                                </div>
                            </td>
                            <td width="200" class="wwnormal tright td-price" valign="top">
                                <div class="space rel">
                                    <p class="price">
                                        <strong>49 980 zł</strong>
                                    </p>

                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td valign="bottom">
                                <div class="space rel">
                                    <p class="color-9 lheight16 marginbott5">
                                        <small class="breadcrumb x-normal">
                                            <span>
                                                Świdnica
                                            </span>
                                        </small>
                                    </p>
                                    <p class="color-9 lheight16 marginbott5 x-normal">
                                        dzisiaj 14:55
                                    </p>
                                </div>
                            </td>
                            <td width="85" class="tright" valign="bottom">
                                <div class="space rel">
                                    <div class="rel observelinkinfo inlblk zi3">
                                        <a href="#" class="{id:246129021} observe-link inlblk lheight16 tdnone tcenter margintop5 vishid " data-statkey="ad.observed.list">
                                            <span class="icon inlblk observe2 observed-246129021" data-icon="star"></span>
                                            <span class="link x-small gray2 block lheight14">
                                                <span>  </span>
                                            </span>
                                        </a>
                                        <div class="suggesttitleright small top abs zi2 br4 hidden">
                                            <p></p>
                                            <div class="target abs icon"></div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>