@{
    ViewData["Title"] = "Kontakt";
}
<h2>@ViewData["Title"].</h2>

@*<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>*@

<address>
    <strong>Mateusz Dudek:</strong> <a href="mailto:mateudu@outlook.com">mateudu@outlook.com</a><br />
    <strong>Piotr Araszkiewicz:</strong> <a href="mailto:araszkiewicz.piotr@gmail.com">araszkiewicz.piotr@gmail.com</a>
</address>
